language: php
php:
  - '5.6'
  - '7.0'
  - hhvm
  - nightly
before_script: composer install

script:
- ./vendor/bin/phpunit --coverage-clover ./test/logs/clover.xml
 
after_script:
- ./vendor/bin/coveralls -v
- ./vendor/bin/test-reporter -v --coverage-report=./test/logs/clover.xml
